<div
  id="<%= id %>"
  class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white"
>
  <div
    class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96"
  >
    <img
      src="<%= imageRef %>"
      alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
      class="h-full w-full object-cover object-center sm:h-full sm:w-full"
    />
  </div>
  <div class="flex flex-1 flex-col space-y-2 p-4">
    <h3 class="text-sm font-medium text-gray-900">
      <a href="#">
        <span aria-hidden="true" class="absolute inset-0"></span>
        <%= title %>
      </a>
    </h3>
    <p class="text-sm text-gray-500"><%= description %></p>
    <div class="flex flex-1 flex-col justify-end">
      <p class="text-sm italic text-gray-500"><%= colors %></p>
      <p class="text-base font-medium text-gray-900"><%= price %></p>

      <button class="bg-slate-500 rounded-sm p-2 text-white mt-2">
        <span>Add To Cart</span>
      </button>
    </div>
  </div>
</div>

<script>
  ;(function () {
    const ready = () => {
      const el = document.getElementById('<%= id %>')

      const imageElement = el.querySelector('img')

      el.addEventListener('mouseenter', () => {
        imageElement.src = '<%= imageRefSecondary %>'
      })

      el.addEventListener('mouseleave', () => {
        imageElement.src = '<%= imageRef%>'
      })
    }

    ready()
  })()
</script>
